*{
	margin: 0;
	padding: 0;
}
body{
    background-color:rgba(0,0,0,0.1); ;

    }
.tudo{
  width: 100%;
  height: 100%;
}
/*Cabeçalho*/
header{
	background-color: black;
	width: 100%;
	height: 50px;
	top: 0;
	left: 0;
	position: fixed;
	box-shadow: 5px 5px 5px black;
}
header div{
	position: absolute;
	margin: 0 0 0 35%;
  	border-bottom-left-radius: 100px;
  	border-bottom-right-radius: 100px;
	background-color: black;
	width: 400px;
	height: 100px;
	text-align: center;
	box-shadow: 5px 5px 5px black;
}
header div h1{
	color: white;
	font-family: georgia;
	font-size: 40px;
	margin: 20px 0 0 0;
	opacity: 0.6;
	cursor: pointer;


}
header div h1:hover{
	opacity: 1;
}

header div span{
	color: white;
	font-family: sans-serif;
	cursor: pointer;
	opacity: 0.7;
}
header div span:hover{
	opacity: 1;
}
/*Corpo*/
.corpo{
	width: 100%;
	height: 650px;

}
.corpo section:first-child{
	float: right;
	margin: 100px 510px 0 0;
	width:300px;
	padding: 10px;

}
.corpo section img{
	height: 300px;
}
.corpo section div{
	float: left;
}
.fala {
   width: 120px;
   height: 80px;
   background: #777;
   margin: 80px 0 0 150px;
   position: absolute;
   border-radius:10px;
   opacity: 0.7;
}
.fala:before {
   content:"";
   position: absolute;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid #777;
   border-bottom: 13px solid transparent;
   right: 100%;
   top: 26px;
}
p{
	color:white;
	margin: 10px;
	font-family: verdana;
	font-size: 14px;
}
p span{
	font-style: italic;
}
nav{

	margin: 460px 0 0 490px;
	position: absolute;
}
ul{
	list-style: none;
}
ul li{
	display: inline;
	cursor: pointer;
	color: #777;
	font-family: sans-serif;
	font-size: 25px;
	margin-left: 20px;

}
ul li:hover{
	font-style: italic;
	color: white;
}
/*Rodapé*/
footer{
	background-color: black;
	position: fixed;
	width: 100%;
	height: 30px;
	bottom: 0;
	left:0;
	box-shadow: 10px 10px 10px 10px black;
	text-align: center;
}
footer span{
	font-family: arial;
	font-size: 13px;
	color: #777;
	margin: 0 0 0 50px;
}