@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900);
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgba(0,0,0,0.1);
	font-family: 'Source Sans Pro', sans-serif;
}

.tudo {
	width: 100%;
	height: 100%;
}

/*Cabeçalho*/
header {
	background-color: black;
	width: 100%;
	height: 50px;
	top: 0;
	left: 0;
	position: fixed;
	-webkit-box-shadow: 5px 5px 5px black;
	box-shadow: 5px 5px 5px black;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	-ms-transition: all 2s;
	transition: all 2s;
	z-index: 1000;
}

header div {
	position: absolute;
	margin: 0 35% 0 35%;
	border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;
	background-color: black;
	width: 400px;
	height: 100px;
	text-align: center;
	-webkit-box-shadow: 5px 5px 5px black;
	box-shadow: 5px 5px 5px black;
}
header ul{
	color: #fff;
	float: right;
	list-style: none;
	
}
header ul li{
	display: inline;
	margin: 0 0.3em 0 0;
}
header a{
	text-decoration: none;
	color: #fff;
}
header a:visited{
	color: red;
}


header ul li:hover{
	border-bottom: 1px solid gray;
}
header div h1 {
	color: white;
	font-size: 40px;
	margin: 20px 0 0 0;
	opacity: 0.6;
	cursor: pointer;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	-ms-transition: all 2s;
	transition: all 2s;
}

header div h1:hover {
	opacity: .8;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	-ms-transition: all 2s;
	transition: all 2s;
}

header div span {
	color: white;
	cursor: pointer;
	opacity: 0.7;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
}

header div span:hover {
	opacity: 1;
	border-bottom: 1px solid #fff;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
}

/*Corpo*/
.primeira {
	margin-top:200px;
	text-align: center;

}
img{
	background-color: #fff;
	border: 4px solid #fff;
	height: 160px;
	width: 160px;
	-moz-border-radius:85px;
	-webkit-border-radius: 85px;
	border-radius: 85px;
	cursor: pointer;
}
img:hover{
	border: 0;
}
.sobre_d{
	display: none;
	margin: 10px 0 50px 0;
	width: 100%;
	text-align: center;

}
.sobre_box{
	width:100%;
	text-align: center;
}
.sobre_box p{
	padding: 0 15% 0 15%;
	text-align: justify;
}
.sobre_box h3{
	font-size: 40px;
}

.fa {
	text-decoration: none;
	font-size: 18pt;
	margin: 0 0 0 5px;
}
.flink {
	color: gray; 
}
.flink:hover {
	color: #45619D;
}
.tlink {
	color: gray;
} 
.tlink:hover {
	color: #2596C6;
}
.glink {
	color: gray;
} 
.glink:hover {
	color: #333333;
}
.elink {
	color: gray;
} 
.elink:hover {
	color: #DD4B39;
}
.btn_sobre {
	background: #697FA0;
	border-bottom: 2px solid #516D98;
	padding: 12px 16px 8px;
	line-height: 1;
	-moz-border-radius:3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: white;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	text-decoration: none;
}
.btn_sobre:hover {
	text-decoration: none;
	background-color: #5C7CAD;
}

.btn_sobre:active {
	margin-top: 1px;
	border-bottom: 1px solid #516D98;
}

/*Rodapé*/
footer {
	background-color: black;
	position: fixed;
	width: 100%;
	height: 30px;
	bottom: 0;
	left: 0;
	-webkit-box-shadow: 10px 10px 10px 10px black;
	box-shadow: 10px 10px 10px 10px black;
	text-align: center;
	-webkit-transition: all 5s;
	-moz-transition: all 5s;
	-o-transition: all 5s;
	-ms-transition: all 5s;
	transition: all 5s;
}

footer span {
	font-size: 13px;
	color: #777;
	margin: 0 50px 0 50px;
	-webkit-transition: all 5s;
	-moz-transition: all 5s;
	-o-transition: all 5s;
	-ms-transition: all 5s;
	transition: all 5s;
}
/*Adicionar mais alguns intervalos para as coisa work well*/
@media screen and (max-width: 100px) {
	header {
	width: 100%;
	height: 5%;
	top: 0;
	left: 0;
	position: fixed;
	-webkit-transition: all 5s;
	-moz-transition: all 5s;
	-o-transition: all 5s;
	-ms-transition: all 5s;
	transition: all 5s;
	z-index: 1000;
}

header div {
	position: absolute;
	margin: 0 35% 0 35%;
	width: 250px;
	height: 5em;
	-webkit-transition: all 5s;
	-moz-transition: all 5s;
	-o-transition: all 5s;
	-ms-transition: all 5s;
	transition: all 5s;
}

header div h1 {
	font-size: 25px;
	margin: 20px 0 0 0;
	opacity: 0.6;
	cursor: pointer;
}
.sobre_box h3{
	font-size: 30px;
}
footer {
	background-color: black;
	position: fixed;
	width: 100%;
	height: 20px;
	bottom: 0;
	left: 0;
	text-align: center;
	
}
footer span {
	font-size: 10px;
	margin: 0 20px 0 20px;
}
}


@media screen and (max-width: 690px) {
	header {
	width: 100%;
	height: 5%;
	top: 0;
	left: 0;
	position: fixed;
	-webkit-transition: all 5s;
	-moz-transition: all 5s;
	-o-transition: all 5s;
	-ms-transition: all 5s;
	transition: all 5s;
	z-index: 1000;
}

header div {
	position: absolute;
	margin: 0 35% 0 27%;
	width: 250px;
	height: 5em;
	-webkit-transition: all 5s;
	-moz-transition: all 5s;
	-o-transition: all 5s;
	-ms-transition: all 5s;
	transition: all 5s;
}

header div h1 {
	font-size: 25px;
	margin: 20px 0 0 0;
	opacity: 0.6;
	cursor: pointer;
}
.sobre_box h3{
	font-size: 30px;
}
footer {
	background-color: black;
	position: fixed;
	width: 100%;
	height: 20px;
	bottom: 0;
	left: 0;
	text-align: center;
	
}
footer span {
	font-size: 10px;
	margin: 0 20px 0 20px;
}
}
@media screen and (max-width: 480px) {
	header {
	width: 100%;
	height: 5%;
	top: 0;
	left: 0;
	position: fixed;
	-webkit-transition: all 5s;
	-moz-transition: all 5s;
	-o-transition: all 5s;
	-ms-transition: all 5s;
	transition: all 5s;
	z-index: 1000;
}

header div {
	display: none;
	
}

header div h1 {
	font-size: 25px;
	margin: 20px 0 0 0;
	opacity: 0.6;
	cursor: pointer;
}
.sobre_box h3{
	font-size: 30px;
}
footer {
	background-color: black;
	position: fixed;
	width: 100%;
	height: 20px;
	bottom: 0;
	left: 0;
	text-align: center;
	
}
footer span {
	font-size: 10px;
	margin: 0 20px 0 20px;
}
}