@font-face {
  font-family: 'Josefin Slab';
  src: url('../fonts/JosefinSlab-Bold.ttf'); 
}

* {
	margin: 0;
	padding: 0;
}
body{	
	background-image: url('../img/background.jpg');
	background-size: 220% 220%;
    background-repeat: no-repeat;
    box-sizing: border-box;
	overflow: hidden;
}
.main{
	background-image: url('../img/clouds.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
h1{
	font-family: 'Josefin Slab', serif;
	font-size: 12em;
	text-align: center;

}
ul{
	font-family: 'Josefin Slab', serif;
	font-size: 28px;
	text-align: center;
	margin-left: 60px;
}
li{
	margin: 0 40px 0 0;
}
ul li {
	display: inline-block;	
}
ul li a{

}
a {
	text-decoration: none;
	color:black;
}
a:hover {
	text-decoration: underline;
}
.inner-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}