* {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgba(0,0,0,0.1);
}

.tudo {
	width: 100%;
	height: 100%;
}

/*Cabeçalho*/
header {
	background-color: black;
	width: 100%;
	height: 50px;
	top: 0;
	left: 0;
	position: fixed;
	-webkit-box-shadow: 5px 5px 5px black;
	box-shadow: 5px 5px 5px black;
	-webkit-transition: all 5s;
	-moz-transition: all 5s;
	-o-transition: all 5s;
	-ms-transition: all 5s;
	transition: all 5s;
}

header div {
	position: absolute;
	margin: 0 0 0 35%;
	border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;
	background-color: black;
	width: 400px;
	height: 100px;
	text-align: center;
	-webkit-box-shadow: 5px 5px 5px black;
	box-shadow: 5px 5px 5px black;
	-webkit-transition: all 5s;
	-moz-transition: all 5s;
	-o-transition: all 5s;
	-ms-transition: all 5s;
	transition: all 5s;
}

header div h1 {
	color: white;
	font-family: georgia;
	font-size: 40px;
	margin: 20px 0 0 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: 0.6;
	cursor: pointer;

	-webkit-transition: all 5s;
	-moz-transition: all 5s;
	-o-transition: all 5s;
	-ms-transition: all 5s;
	transition: all 5s;
}

header div h1:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition: all 5s;
	-moz-transition: all 5s;
	-o-transition: all 5s;
	-ms-transition: all 5s;
	transition: all 5s;
}

header div span {
	color: white;
	font-family: sans-serif;
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: 0.7;

	-webkit-transition: all 3s;
	-moz-transition: all 3s;
	-o-transition: all 3s;
	-ms-transition: all 3s;
	transition: all 3s;
}

header div span:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition: all 3s;
	-moz-transition: all 3s;
	-o-transition: all 3s;
	-ms-transition: all 3s;
	transition: all 3s;
}

/*Corpo*/
.primeira {
	margin-top:200px;
	text-align: center;

}
img{
	background-color: #fff;
	border: 4px solid #fff;
	height: 160px;
	width: 160px;
	-moz-border-radius:85px;
	-webkit-border-radius: 85px;
	border-radius: 85px;
}
.sobre_box{
	margin:20px 0 50px 450px;
	width:450px;
	text-align:justify;

}
.fa {
	text-decoration: none;
	font-size: 18pt;
	margin: 0 0 0 5px;
}
.flink {
	color: gray; 
}
.flink:hover {
	color: #45619D;
}
.tlink {
	color: gray;
} 
.tlink:hover {
	color: #2596C6;
}
.glink {
	color: gray;
} 
.glink:hover {
	color: #333333;
}
.elink {
	color: gray;
} 
.elink:hover {
	color: #DD4B39;
}
.sobre_d {
	display: none;
}
.btn_sobre {
	background: #697FA0;
	border-bottom: 2px solid #516D98;
	padding: 12px 16px 8px;
	line-height: 1;
	-moz-border-radius:3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: white;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	text-decoration: none;
}
.btn_sobre:hover {
	text-decoration: none;
	background-color: #5C7CAD;
}

.btn_sobre:active {
	margin-top: 1px;
	border-bottom: 1px solid #516D98;
}
ul {
	margin: 0;
	padding-left: 10px;
	border-left: 1px solid #9A9A9A;
	overflow: visible;
	list-style: none;
	
}
h3{
	text-align:center;

}

/*Rodapé*/
footer {
	background-color: black;
	position: fixed;
	width: 100%;
	height: 30px;
	bottom: 0;
	left: 0;

	-webkit-box-shadow: 10px 10px 10px 10px black;
	box-shadow: 10px 10px 10px 10px black;
	text-align: center;

	-webkit-transition: all 5s;
	-moz-transition: all 5s;
	-o-transition: all 5s;
	-ms-transition: all 5s;
	transition: all 5s;
}

footer span {
	font-family: arial;
	font-size: 13px;
	color: #777;
	margin: 0 50px 0 50px;

	-webkit-transition: all 5s;
	-moz-transition: all 5s;
	-o-transition: all 5s;
	-ms-transition: all 5s;
	transition: all 5s;
}

@media screen and (max-width: 690px) {
	header {
	width: 100%;
	height: 10%;
	top: 0;
	left: 0;
	position: fixed;

	-webkit-transition: all 5s;
	-moz-transition: all 5s;
	-o-transition: all 5s;
	-ms-transition: all 5s;
	transition: all 5s;
}

header div {
	position: absolute;
	margin: 0 0 0 35%;
	width: 200px;
	height: 75px;

	-webkit-transition: all 5s;
	-moz-transition: all 5s;
	-o-transition: all 5s;
	-ms-transition: all 5s;
	transition: all 5s;
}

header div h1 {
	font-size: 25px;
	margin: 20px 0 0 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: 0.6;
	cursor: pointer;

	-webkit-transition: all 5s;
	-moz-transition: all 5s;
	-o-transition: all 5s;
	-ms-transition: all 5s;
	transition: all 5s;
}

footer {
	background-color: black;
	position: fixed;
	width: 100%;
	height: 20px;
	bottom: 0;
	left: 0;
	text-align: center;

	-webkit-transition: all 5s;
	-moz-transition: all 5s;
	-o-transition: all 5s;
	-ms-transition: all 5s;
	transition: all 5s;
}

footer span {
	font-size: 10px;
	margin: 0 20px 0 20px;

	-webkit-transition: all 5s;
	-moz-transition: all 5s;
	-o-transition: all 5s;
	-ms-transition: all 5s;
	transition: all 5s;
}

}
