button {
  background-color: #fff;
  border: none;
  border-radius: 24px;
  color: #e85746;
  padding: 12px 30px;
  font-family: "Helvetica-Medium", "sans-serif";
  cursor: pointer;
  font-size: 11px;
  transition: background-color 0.5s;
}
button:hover {
  background-color: #28235d;
}
button:focus {
  outline: 0;
}
button a {
  color: #e85746;
  text-decoration: none;
}
