/* Styles for pages */
.page .page-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.page .logo img {
  width: 65px;
  display: block;
  margin: 0 auto;
}
.page .page-title,
.page .page-description p {
  text-align: center;
}
.page .page-title h1 {
  font-family: "Helvetica-Medium", "sans-serif";
  margin: 10px 0;
  text-transform: uppercase;
}
.page .page-description p {
  margin-bottom: 15px;
}
.page .page-description a {
  text-decoration: none;
}
.page .page-description button {
  display: block;
  margin: 0 auto;
}
.page .right {
  background-color: #fff;
}
