button
    background-color #FFF
    border none
    color #35b729
    padding 12px 30px 
    font-family "Helvetica-Medium", "sans-serif"
    cursor pointer
    font-size 11px
    transition background-color .5s 

button:hover
    background-color #35b729

button:focus
    outline 0

button a 
    color #e85746
    text-decoration none