/* Portfolio page */
.menu-bar.portfolio
	color #e85746

.page .right 
	padding-top 45px
	overflow auto
	background-image none

.page .project
	width 90%
	height auto
	background-color #EEE
	margin 0 auto
	box-sizing border-box
	position relative
	
.page .project .shadow
	width 100%
	height 100%
	border 1px solid red
	position absolute
	//background-color red
	
.page .project .info
	box-sizing border-box
	padding 40px 15px 5px 15px

.page .project a
	color #009688
	font-family "Helvetica-Medium", "sans-serif"
	font-size 20px
	text-decoration none
	transition color .5s
	
.page .project a:hover
	color #666

.page .project h1
	margin-bottom 20px
		
.page .project .info p
	color #444
	height auto
	
.page .project span.tecnologias
	color #666
	font-family "Helvetica-Medium", "sans-serif"
	margin-top 20px
	font-size 12px
	display block
	text-transform uppercase
	
.page hr
	width 90%
	height 1px
	background-color #EEE
	border none
	margin 20px auto
	