@media screen and (max-width: 1024px) {
  .left {
    width: 30%;
  }
}

//@media screen and (max-width: 770px) {

@media screen and (max-width: 435px) {

  .page .page-description button{
    display: none;
  }
  
  .logotipo{
    margin-left: 20px;
  }

  .menu-bar{
    top: 40px;
  }

  .menu-top-right{
    margin-top: 14px;
  }
  
  .menu-bottom{
    display: none;
  }
  
  .menu-links{
    height: initial;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .menu-links ul li {
    display: inherit;
    margin-bottom: 30px;
    margin-right: 0;
  }

  .container{
    background-color: #e85746;
  }

  .left, .right{
    width: 100%;
    float: none;
  }
  .page .right{
    display: inherit;
    padding-top: 15px;
  }
  .page .left{
    height: 50%;
    position: relative;
  }
  .page .left .logo img {
    max-width: 50px;
  }
  .page .page-content{
    margin-top: 20px;
  }
  .sobre .left{
    text-align: center;
  }
  .branco .page-menu {
    color: #fff;
  }
  .sobre .left .logotipo{
    margin: 0;
  }
    
  .right{
    display: none;
  }

  .intro-text h1 {
    font-size: 1.9em;
  }
  
  .intro-text p{
    font-size: 17px;
  }

  .logotipo img {
    max-width: 6.5em;
  }
  .intro-text {
    padding-left: 15px;
  }

  .menu-bottom img {
    max-width: 160px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .page .project .info {
    padding: 15px;
  }
  .page .project .info p {
    overflow: hidden;
    height: auto;
  }
  
}

@media screen and (max-width: 360px) {
  .intro-text h1 {
    font-size: 40px;
  }
  .logotipo img {
    max-width: 6.5em;
  }
  .intro-text {
    padding-left: 15px;
  }
  
  .menu-bottom img {
    max-width: 160px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .page .project .info {
    padding: 15px;
  }
  .page .project .info p {
    overflow: hidden;
    height: 60px;
  }
}


